* {
  font-family: 'Kalam', cursive;
}

.pageHeader {
  text-align: center;
  align-content: center;
  color: antiquewhite;
  background-color: #52361b;
  border: 2px dotted #d2f5ce;
  display: block;
  margin: auto;
  width: 50%;

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.shop {
  display: flex;
  flex-basis: 30%;
  border: 2px dotted #52361b;
  margin: 10px;
  font-size: 15px;
  color: #52361b;
  background-color: antiquewhite;
}

body {
  background-image: url(img/images-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.shop:hover {
  transition: .3s;
  height: 5%;
  padding: 10px;
  box-shadow: 5px 10px #9f5919;
}


ul li {
  list-style-type: none;
  text-align: center;
  padding: 2px;
}
  
li a { 
  text-decoration: none;
  color: red;
}
a:hover {
  color: white;
}
}
.brownColor { 
  color: antiquewhite;
  background-color: #52361b;
  border: 2px dotted #d2f5ce;
  display: block;
  margin: 10px;
}
.footer {
text-align: center;
}
